body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
hr {
  height: 1px; /* Sets the thickness of the line */
  background-color: #f9f7fe;
  border: none;
}
.container {
  display: block;
  border: 1px solid #fff;
  background: #fff;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.logo-link {
  margin-bottom: 20px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 65%;
  border-radius: 6px;
  margin-bottom: 20px;
}
.button-searchCity {
  background: #885df1;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  width: 20%;
  padding: 20px;
  margin-left: 5px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin: 20px, 0;
}
.current-details strong {
  color: #f65282;
  font-weight: 400;
}
.current-temperature {
  font-size: 48px;
  padding-right: 40px;
}
.current-temperature-icon {
  position: relative;
  top: -8px;
  left: 20px;
  font-size: 40px;
  margin-right: 10px;
}
.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}
.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  left: -10px;
}
.weeklyForecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}
.forecast-day {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.forecast-icon {
  font-size: 30px;
  padding: 20px 20px;
}
.forecast-temps {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  color: rgb(246, 82, 130);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.forecast-low {
  font-weight: 700;
  color: rgb(246, 82, 130, 0.7);
}
footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: rgba(39, 33, 66, 0.4);
  margin: 20px 0 0 0;
}
